<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'User info by ' + ${user.id()}"></title>
</head>
<body>
    <h2>Изменить пользователя</h2>
    <br>
    <form method="post" th:action="@{/users/edit(id=${user.id()})}" th:object="${user}">
        Имя: <input type="text" th:field="*{name}">
        <br><br>
        Фамилия: <input type="text" th:field="*{lastName}"/>
        <br><br>
        Возраст: <input type="text" th:field="*{age}"/>
        <br><br>
        <input style="font-size: 14px" type="submit" value="Update">
    </form>
</body>
</html>